[submodule "orig/lib/forge-std"]
	path = orig/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "orig/lib/geb-rrfm-calculators"]
	path = orig/lib/geb-rrfm-calculators
	url = https://github.com/money-god/geb-rrfm-calculators
